* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
body {
	font-family: Fira Sans Bold;
	color: #222222;
}

/*HOME*/
.animation-logo {
	position: absolute;
	top: 35px;
	left: 35px;

}
.animation-logo img {
	position: absolute;
}
.animation-logo img:nth-child(1) {
	height: 146px;
	width: 146px;
	top: -20px;
	left: -20px;
    animation: logo 1s infinite 0s linear;
}
.animation-logo img:nth-child(2) {
	height: 96px;
	width: 96px;
	top: 5px;
	left: 5px;
    animation: logoReverse 4s infinite 0s linear;
}
@keyframes logo {
    0%{
        transform: rotate(0deg);
        }
    49%{
        transform: rotate(180deg);
        }
    100%{
        transform: rotate(360deg);
        }
}
@keyframes logoReverse {
    0%{
        transform: rotate(0deg);
        }
    49%{
        transform: rotate(-180deg);
        }
    100%{
        transform: rotate(-360deg);
        }
}

.home {
	background-color: #fbfe00;
}
.home .name {
	position: relative;
}
.home .front-end {
	position: relative;
}
.home .developer {
	position: relative;
}





.home h1 {
    font-size: 145px;
}
.home h1.shadow-text {
	top: -10px;
	left: -15px;
}



.home h2 {
	font-size: 80px;
	text-transform: uppercase;
	margin-top: -30px;
	margin-bottom: -10px;
}
.home h2.shadow-text {
	top: 25px;
	left: -10px;
}

.home h3 {
	font-size: 40px;
	text-transform: uppercase;
}
.home h3.shadow-text {
	top: -7px;
	left: -8px;
}



.shadow-text {
	position: absolute;
	opacity: 0.11;
	width: 100%;
    animation: bgtext 5s infinite 0s linear;
}
@keyframes bgtext {
    0%{
        transform: translateX(0px);
        }
    49%{
        transform: translateX(10px);
        }
    100%{
        transform: translateX(0px);
        }
}

.home button.vs-subview-next {
	background: url("../img/arrow-next.png");
	width: 46px;
	height: 85px;
	border: 0;
	outline: 0;
	position: absolute;
	top: 37%;
	right: 83px;
}
/*HOME END*/