/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1200px) {
    .catalog-description {
        font-size: 22px;
    }
	.catalog-pagination {
        margin-top: 10px;
    }
    .catalog-items__item.big-banner {
        max-width: 210px;
    }
    .catalog-items__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .catalog-items__container-big {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .catalog-items__container-banner {
        max-width: 100%;
        width: 100%;
    }
    .catalog-items__item.two-banner {
        max-width: 210px;
    }
    .catalog-sort {
        justify-content: normal;
    }
    .catalog-sort__main {
        margin-right: 20px;
    }
    .catalog-sort__buttons {
        margin-right: 20px;
    }
    .catalog-items__item {
        max-width: 360px;
    }
    .catalog-items__item-content__buttons__basket {
        width: 110px;
        height: 30px;
    }
    .catalog-items__item-content__buttons__basket::before {
        right: 10px;
    }
    .catalog-filter li {
        font-size: 14px;
        line-height: 25px;
    }
    .catalog-items__item.two-banner {
        max-width: 100%;
    }
    .catalog-items__container-banner {
        margin-bottom: 20px;
    }
    .catalog-items__item {
        margin-bottom: 20px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 360px;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }
    .four-banner {
        width: 100%;
        max-width: 100% !important;
    }
    .ui-widget.ui-widget-content {
        max-width: 160px;
    }
    .slider-range__block {
        max-width: 190px;
    }
    .slider-range__block input {
        width: 80px;
    }
    .catalog-filter__buttons button {
        width: 85px;
        font-size: 15px;
    }
    .catalog-filter__title-name {
        font-size: 15px;
        line-height: 20px;
    }
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 992px) {
    .catalog-description {
        text-align: left;
    }
	.catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-filter {
        margin-top: 10px;
    }
    .catalog-sort__numitems {
        margin-top: 0;
    }
    .ui-widget.ui-widget-content {
        max-width: 660px;
    }
    .catalog-filter__title-name {
        font-size: 16px;
    }
    .catalog-filter__colors-block {
        max-width: 100%;
    }
    .catalog-filter__buttons button {
        width: 185px;
    }
    .catalog-filter__button {
        display: inline-block;
    }
    .catalog-filter__title-block {
        position: relative;
        display: flex;
        justify-content: center;
    }
    button.catalog-filter__button {
        position: absolute;
        top: 0px;
        right: 30px;
    }
    .catalog-filter__container {
        height: 0;
        overflow: hidden;
        transition: 0.4s    ;
        -webkit-transition: 0.4s    ;
        -moz-transition: 0.4s    ;
        -ms-transition: 0.4s    ;
        -o-transition: 0.4s    ;
    }

}

/*Малые девайсы («ландшафтные», < 768px)
*/@media (max-width: 768px) {
	.catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-sort {
        justify-content: space-between;
    }
    .catalog-sort__buttons {
        margin-right: 0;
    }
    .catalog-items__item {
        max-width: 280px;
    }
    .ui-widget.ui-widget-content {
        max-width: 490px;
    }
    .slider-range__block {
        max-width: 490px;
    }
}

/*Экстрамалые девайсы («телефоны», < 576px)
*/@media (max-width: 576px) {

}