/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1200px) {
    .catalog-description {
        font-size: 22px;
    }
    .catalog-pagination {
        margin-top: 10px;
    }
    .catalog-items__item.big-banner {
        max-width: 210px;
    }
    .catalog-items__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        width: 100%;
    }
    .catalog-items__container-banner .catalog-items__banner {
        height: 400px;
    }
    .catalog-items__banner-container {
        height: 95%;
    }
    .catalog-items__container-big {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .catalog-items__container-banner {
        max-width: 100%;
        width: 100%;
    }
    .catalog-items__item.second-banner {
        max-width: 220px;
    }
    .catalog-sort {
        justify-content: normal;
    }
    .catalog-sort__main {
        margin-right: 20px;
    }
    .catalog-sort__buttons {
        margin-right: 20px;
    }
    .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__item-content__buttons__basket {
        width: 110px;
        height: 30px;
    }
    .catalog-items__item-content__buttons__basket::before {
        right: 10px;
    }
    .catalog-filter li {
        font-size: 14px;
        line-height: 25px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__container-banner {
        margin-bottom: 20px;
    }
    .catalog-items__item {
        margin-bottom: 20px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__container-big {
        flex-direction: column;
    }
    .catalog-items__container:first-child {
        margin-right: 15px;
    }
    .catalog-items__container-banner {
        max-width: 100%;
    }
    .fourth-banner {
        width: 100%;
        max-width: 460px !important;
    }
    .ui-widget.ui-widget-content {
        max-width: 160px;
    }
    .slider-range__block {
        max-width: 190px;
    }
    .slider-range__block input {
        width: 80px;
    }
    .catalog-filter__buttons button {
        width: 85px;
        font-size: 15px;
    }
    .catalog-filter__title-name {
        font-size: 15px;
        line-height: 20px;
    }
    .item-page__sidebar-block {
        padding: 10px;
        width: 230px;
    }
    .item-page__sidebar-block__item-info__price {
        font-size: 20px;
    }
    .item-page__sidebar-block__item-info__price-old {
        font-size: 14px;
    }
    .item-page__sidebar-block__text {
        font-size: 14px;
        line-height: 20px;
    }
    .item-page__sibebar-block__buttons-basket {
        width: 140px;
        height: 40px;
        font-size: 16px;
        padding-left: 20px;
    }
    .item-page__sibebar-block__buttons-buy {
        padding-left: 10px;
        width: 136px;
        height: 40px;
        font-size: 14px;
        line-height: 30px;
    }
    .item-page__sidebar-block__buy-counter, .input_plugin_number {
        font-size: 14px;
        line-height: 30px;
        width: 60px !important;
        height: 40px !important;
    }
    .item-page__sidebar-block__interactive {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-page__sidebar-block__properties .catalog-filter__brand .select select {
        width: 108.3%;
        margin-left: -9px;
    }
    .item-page__sidebar-block-bonus {
        margin-top: 5px;
        width: 230px;
        padding: 0 10px;
    }
    .item-page__sibebar-block__buttons-basket::before {
        width: 19px;
        height: 15px;
        left: 13px;
        top: 12px;
    }
    .item-page__sidebar-block-bonus span {
        font-size: 14px;
    }
    .item-info__button-add {
        top: 195px;
        right: -50px;
    }
}

@media (max-width: 992px) {
    .item-info__button-add {
        right: -25px;
    }
    .store-info .item-button-simple {
        width: 120px;
    }
    .range-popup {
        right: 220px;
        top: 55px;
    }
    .slider-range__block {
        max-width: 100%;
    }
    .catalog-items {
        justify-content: space-between;
    }
    .catalog-items__item {
        padding-right: 0;
    }
    .banner_bg {
        border-radius: 20px;
    }
    .catalog-items__container-banner {
        height: 100%;
    }
    .catalog-items__container-big {
        width: 100%;
    }
    .catalog-description {
        text-align: left;
    }
    .catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-filter {
        margin-top: 10px;
        width: 100%;
    }
    .catalog-sort__numitems {
        margin-top: 0;
    }
    .ui-widget.ui-widget-content {
        max-width: 100%;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 225px;
    }
    .catalog-filter__title-name {
        font-size: 16px;
    }
    .catalog-filter__colors-block {
        max-width: 100%;
    }
    .catalog-filter__buttons button {
        width: 185px;
    }
    .catalog-filter__button {
        display: inline-block;
    }
    .catalog-filter__title-block {
        position: relative;
        display: flex;
        justify-content: center;
    }
    button.catalog-filter__button {
        position: absolute;
        top: 0px;
        right: 30px;
    }
    .catalog-filter__container {
        height: 0;
        overflow: hidden;
        transition: 0.4s    ;
        -webkit-transition: 0.4s    ;
        -moz-transition: 0.4s    ;
        -ms-transition: 0.4s    ;
        -o-transition: 0.4s    ;
    }
    .catalog-items__container {
        justify-content: space-between;
    }
    .catalog-items__container-banner {
        max-width: 100%;
    }
    .fourth-banner {
        max-width: 465px !important;
    }
}

/*Малые девайсы («ландшафтные», < 768px)
*/@media (max-width: 768px) {
    .catalog-items__item-content__buttons__favourite {
        width: 19px;
        height: 22px;
    }
    .range-popup {
        right: 30%;
    }
    .catalog-items__item .catalog-items__banner {
        height: 100%;
    }
    .second-banner .catalog-items__banner {
        height: 240px;
    }
    .catalog-items__item.second-banner {
        max-width: 540px;
    }
    .catalog-items__container-big {
        width: 100%;
        flex-direction: row;
    }
    .catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-sort {
        justify-content: space-between;
    }
    .catalog-sort__buttons {
        margin-right: 0;
    }
    .catalog-items__item {
        max-width: 240px;
    }
    .ui-widget.ui-widget-content {
        max-width: 490px;
    }
    .slider-range__block {
        max-width: 490px;
    }
    .catalog-items__container:first-child {
        margin-right: 0;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 240px;
    }
    .second-banner .catalog-items__item .catalog-items__banner {
        height: 290px;
    }
    .catalog-items__container-banner {
        max-width: 84%;
    }
    .catalog-items__banner-text__readmore {
        font-size: 14px;
    }
    .catalog-items__banner-text__readmore::before {
        width: 16px;
        left: 125px;
        top: 2px;
    }

    .catalog-items__item.second-banner {
        max-width: 83%;
    }
    .catalog-items__container {
        justify-content: center;
    }
    .catalog-items__container:nth-child(2) {
        justify-content: center;
    }
    body .fourth-banner {
        max-width: 84% !important;
    }
    .row-catalog-filter {
        padding: 0 20px;
    }
    .fourth-banner {
        max-width: 100% !important;
    }
    .catalog-items__banner-container {
        display: flex;
        flex-direction: column;
    }
    .catalog-items__item {
        padding-right: 0;
    }
    .catalog-items {
        display: flex;
        justify-content: space-around;
    }
    .catalog-items__container-banner .catalog-items__banner {
        height: 290px;
    }
}

@media (max-width: 700px){
    .catalog-items__item.second-banner {
        max-width: 87%;
    }
    .catalog-items__container-banner {
        max-width: 87%;
    }
    body .fourth-banner {
        max-width: 87% !important;
    }
}

@media (max-width: 650px){
    .catalog-items__item.second-banner {
        max-width: 90%;
    }
    .catalog-items__container-banner {
        max-width: 90%;
    }
    body .fourth-banner {
        max-width: 90% !important;
    }
}

/*Экстрамалые девайсы («телефоны», < 576px)
*/@media (max-width: 576px) {
    .range-popup span {
        font-size: 14px;
    }
    .range-popup a {
        font-size: 13px;
    }
    .range-popup {
        width: 170px;
        height: 40px;
    }
    .catalog-items__item.second-banner {
        max-width: 470px;
    }
    .catalog-items__container-banner {
        max-width: 93%;
    }
    body .fourth-banner {
        max-width: 97% !important;
    }
    .catalog-items {
        justify-content: space-around;
    }
    .catalog-items__item {
        max-width: 230px;
    }
    .ui-widget.ui-widget-content {
        max-width: 420px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 230px;
    }
    .catalog-items__container-big {
        width: 96%;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }
    .catalog-page .container {
        padding: 0 10px;
    }
    .catalog-items__item {
        padding-right: 0;
        margin-right: 0;
    }
    .catalog-items__container:first-child {
        margin-right: auto;
    }
    .slider-range__block {
        max-width: 430px;
    }
    .catalog-items__container:nth-child(2) {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 520px){
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item {
        max-width: 190px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 190px;
    }
    .catalog-items__item-content__buttons__basket {
        font-size: 12px;
    }
    .catalog-items__item-content__buttons__basket::before {
        width: 16px;
        height: 14px;
    }
    .catalog-items__item-content__buttons__favourite {
        width: 19px;
        height: 19px;
    }
}

@media (max-width: 450px){
    .catalog-items__container .catalog-items__item {
        max-width: 185px;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }

    .ui-widget.ui-widget-content {
        max-width: 100%;
    }
    .catalog-filter__buttons button {
        width: 105px;
    }
    .catalog-sort {
        justify-content: flex-start;
        flex-direction: column;
    }
    .catalog-sort select {
        font-size: 12px;
    }
}
@media (max-width: 430px){
    .catalog-items__container .catalog-items__item {
        max-width: 170px;
    }
    .catalog-items__item.second-banner {
        max-width: 95%;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }
    
    .catalog-items__item {
        max-width: 170px;
    }
    .catalog-items__item-image {
        max-height: 200px;
    }
    .catalog-items__item-content__name {
        font-size: 14px;
    }
    .catalog-items__item-content {
        line-height: 16px;
    }
    .catalog-items__item-content__prices__price-old {
        font-size: 12px;
    }
    .catalog-items__item-content__prices__price {
        font-size: 12px;
    }
    .catalog-items__item-content__buttons__basket {
        font-size: 10px;
    }
    .catalog-items__item-content__buttons__basket::before {
        right: 6px;
        top: -5px;
    }
    .catalog-items__item-content__buttons__basket::before {
        width: 13px;
        height: 13px;
    }
    .catalog-items__item-content__buttons__basket {
        height: 20px;
        line-height: 20px;
        border-radius: 10px;
    }
    .catalog-items__item-content__buttons__analitics {
        width: 20px;
    }
    .catalog-items__item-content__buttons__favourite {
        width: 26px;
    }
    .catalog-items__item .catalog-items__banner-text__name {
        font-size: 14px;
        line-height: 14px;
    }
    .catalog-items__banner-text__readmore {
        font-size: 12px;
    }
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item-image a {
        min-height: 190px;
    }
}



@media (max-width: 370px){
    .catalog-page .col-md-12.col-lg-9 {
        padding: 0;
    }
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item {
        max-width: 150px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 150px;
    }
}

@media (max-width: 390px){
    .catalog-page .container {
        padding: 0 5px;
    }
    body .fourth-banner {
        max-width: 95% !important;
    }
    .catalog-items__container-banner {
        max-width: 97%;
    }
    .catalog-items__item.second-banner {
        max-width: 95%;
    }
    .catalog-sort select {
        padding: 10px 25px 10px 10px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 145px;
    }
    .catalog-items__item {
        max-width: 145px;
    }
}

@media (max-width: 520px) and (min-width: 460px){
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item.second-banner {
        max-width: 96%;
    }
}

@media (max-width: 580px){
    .catalog-items__container-banner {
        max-width: 97%;
        padding-right: 0;
    }
    body .fourth-banner {
        max-width: 94% !important;
    }
}

/*CART MEDIA*/
@media (max-width: 1200px){
    .item-nav {
        overflow: scroll;
    }
    .item-nav ul {
        width: 800px;
    }
    .item-sizes__table {
        overflow: scroll;
    }
    .item-sizes__table-data__name {
        padding: 13px;
    }
    .item-sizes__table-names {
        grid-template-columns: 240px;
        grid-template-rows: 60px 40px 40px 40px 40px 40px;
    }
    .table-point {
        width: 80px;
        height: 200px;
        bottom: -200px;
    }
    .info-text {
        font-size: 14px;
        line-height: 20px;
    }
    .item-brands {
        justify-content: space-around;
    }
    .item-feedback__select {
        font-size: 14px;
        line-height: 26.4px;
        width: 180px;
        height: 30px;
    }
    .item-sizes__table {
        grid-template-rows: 60px 40px 40px 40px 40px 40px;
    }
    .info-button {
        font-size: 12px;
        width: 160px;
        height: 30px;
    }
    .item-page__sibebar-block__buttons-buy::before {
        left: 8px;
    }
    .item-page__sibebar-block__buttons-buy {
        padding-left: 17px;
    }
    .select:after {
        top: 10px;
    }
    .item-feedback__block {
        max-width: 47%;
        line-height: 18px;
    }
    .item-feedback__footer .info-button {
        width: 240px;
        height: 40px;
    }
    .item-feedback__footer .info-button:before {
        left: 53px;
        top: 12px;
    }
    .item-feedback__footer .catalog-pagination__button {
        margin-right: 14px;
        font-size: 14px;
    }
    .catalog-pagination__button {
        width: 35px;
        height: 35px;
    }
    .news-mailing__text-title {
        line-height: 25px;
    }
    .item-sizes__table-data {
        grid-template-columns: 100px;
        grid-template-rows: 60px 40px 40px 40px 40px 40px;
    }
    .item-page .container, .container-lg, .container-md, .container-sm, .container-xl {
        padding: 0 20px;
    }
    .item-info__block-images {
        min-width: 270px;
    }
    .item-info__block-images__main-image {
        height: 400px;
        max-width: 270px;
    }
    .item-kit__block-image a {
        min-height: 220px;
    }
    .site-advantages ul {
        padding: 15px 10px;
    }
    .side-advantages__anonim:before {
        top: -5px;
        width: 30px;
        height: 30px;
    }
    .site-advantages ul li {
        margin-bottom: 20px;
        padding-left: 40px;
    }
    .side-advantages__guarantee:before {
        top: -5px;
        width: 30px;
        height: 30px;
    }
    .side-advantages__transportation:before {
        top: -5px;
        width: 30px;
        height: 30px;
    }
    .item-info__block-text__description-text {
        font-size: 14px;
        line-height: 20px;
    }
    .item-offer__block.item-block-pink {
        margin-top: 10px;
        width: 200px;
    }
}

@media (max-width: 992px){
    .desktop-1 {
        display: none;
    }
    .item-page__sidebar-mobile:nth-child(3) .item-page__sidebar-block {
        border-radius: 0 0 10px 10px;
    }
    .site-info .item-nav ul {
        width: 901px;
    }
    .item-info__block {
        margin-bottom: 30px;
    }
    .item-page__sibebar-block__buttons {
        width: 100%;
        flex-direction: row;
    }
    .item-page__sibebar-block__buttons-basket {
        margin-bottom: 0;
        margin: 0 10px;
    }
    .item-page__sidebar-block__interactive {
        flex-direction: row;
        align-items: normal;
        justify-content: normal;
    }
    .item-page__sidebar-block__interactive .sidebar-pink-text {
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .item-page__sidebar-block__properties .catalog-filter__brand .select select {
        width: 102%;
        margin-left: -10px;
    }
    .item-page__sidebar-block-bonus {
        margin-top: 5px;
        width: 100%;
        padding: 0 10px;
    }
    .item-page__sidebar-mobile .item-page__sidebar-block {
        padding: 10px;
        width: 104.3%;
        border-radius: 10px 10px 0 0;
        margin-left: -19px;
        min-height: 100%;
        background: #ff98b4 !important;
    }
    .item-page__content {
        padding: 0px 20px 20px 20px;
    }    
    .item-info__block {
        flex-direction: column;
        align-items: center;
    }
    .item-info__block-text__description {
        margin-bottom: 30px;
    }
    .site-advantages__title {
        display: none !important;
    }
    .site-advantages ul {
        padding: 0;
        border: 0;
    }
    .mobile-1 {
        display: block;
    }
    .item-nav ul {
        width: 992px;
        overflow: scroll;
    }
    .item-nav {
        overflow: scroll;
        padding: 0px;
        border-radius: 10px;
    }
    .item-nav ul a {
        color: #7f5c47;
        font-family: "ProximaNova-Regular";
    }

    .item-description-text {
        display: none;
    }
    .item-description iframe {
        display: none;
    }
    .item-sizes {
        display: none;
    }
    .item-delivery {
        display: none;
    }
    .item-guarantee {
        display: none;
    }
    .item-feedback {
        display: none;
    }
    .mobile-nav-block {
        border-radius: 10px;
        padding: 15px;
        background: #dcbaa4;
        color: white;
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 10px 0;
        font-weight: bold;
        cursor: pointer;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        position: relative;
    }
    .mobile-nav-block span {
        font-size: 35px;
        top: 6px;
        right: 30px;
        position: absolute;
        color: white;
    }
    .mobile-nav-block:hover {
        opacity: 0.9;
    }
    .nav-open-class {
        display: block !important;
    }
    .item-description .item-title {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .item-description iframe {
        margin: 20px auto;
    }
    .item-sizes .item-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .item-delivery .item-title {
        margin: 20px 0 10px 0;
    }
    .item-guarantee .item-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .item-feedback .item-title {
        margin: 20px 0 10px 0;
    }
    .tab-content {
        padding-bottom: 20px;
    }
    .store-info .slick-dots {
        margin-top: 20px;
    }
    .item-info__block-images {
        min-width: 100%;
        align-items: center;
    }
    .item-info__block-images__main-image {
        height: 350px;
    }
    .store-info .slick-slide {
        display: flex;
        justify-content: center;
    }
    .store-info .nav-link {
        font-size: 20px;
    }
    .nav-open-button {
        background: #a77a5e;
    }
}
@media (max-width: 880px){
    .news-mailing__text-title {
        line-height: 25px;
        font-size: 25px;
    }
    .news-mailing__form {
        flex-direction: column;
        align-items: center;
    }
    .news-mailing__form input {
        margin-bottom: 10px;
    }
}

@media (max-width: 680px){
    .item-kit {
        justify-content: space-around;
    }
}
@media (max-width: 540px){
    .item-block-pink {
        width: 180px !important;
        min-height: auto;
        margin-top: 10px;
    }
    .item-kit__block-prices__price {
        color: #ef86a3;
        font-size: 16px;
    }
    .item-kit__block-name {
        font-size: 12px;
    }
    .item-kit__block-content {
        padding: 0 5px 0 5px;
        line-height: 10px;
    }
    .item-kit__block-image {
        padding: 5px 5px 0 5px;
    }
    .block-select select {
        width: 75px;
        font-size: 12px;
    }
    .item-kit__block-buttons label {
        font-size: 12px;
        line-height: 14px;
        margin-left: 10px;
    }
    .item-offer__block-title {
        font-size: 16px;
        line-height: 18px;
    }
    .item-offer__block-price {
        padding: 0 10px;
        font-size: 22px;
        margin-bottom: 15px;
    }
    .item-offer__block-discount {
        margin-bottom: 5px;
    }
    .item-offer__block-button {
        width: 150px;
        height: 50px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .block-select__element-decor::after {
        height: 5px;
        right: 8px;
    }
    .store-info .item-button-simple {
        width: 160px;
        margin-left: -12px;
     }   
     .store-info .nav-tabs {
    margin-bottom: 46px;
    width: 600px;
    overflow: scroll;
}
.store-info {
    overflow: hidden;
}
}
/*CART MEDIA END*/