  body {
  	font-family:Raleway, sans-serif;
  	margin:0;
  	box-sizing:border-box;
  }

  /*PRELOADER*/
  #p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #222222;
    z-index: 30;}
    
    .contpre small{font-size:25px;}
    
    .contpre{
      width: 250px;
      height: 100px;
      position: absolute;
      left: 50%;top: 48%;
      margin-left:-125px;
      margin-top:-75px;
      color:#fff;
      font-size:40px;
      letter-spacing:-2px;
      text-align:center;
      line-height:35px;}
      
      #p_prldr .svg_anm {
        position: absolute;
        width: 41px;
        height: 41px;
        background: url(../img/preload.svg) center center no-repeat;
        background-size: 41px;    
        margin: -16px 0 0 -16px;}

        /*HEADER*/

        #header {
         background-image: url("../img/background.jpeg");
         background-position:center center fixed;
         background-size:cover;
         background-repeat: no-repeat;
       }
       .top_job p {
         color: #082805;
         text-align:center;
         font-family:Raleway, sans-serif;
         font-size:15px;
         font-weight:bold;
       }
       .top_text p {
         color: #082805;
         padding:10px 35px;
         margin-left:0%;
         text-align:center;
         font-family:PT Sans, sans-serif;
         font-weight:bold;
         font-size:2.8em;
         border: 6px solid #1f591a;
         box-shadow: 0 0 30px 1px;
       }
       .top_under_text p {
         color: #072704;
         width:45%;
         margin-left:27%;
         text-align:center;
         font-weight:bold;
         font-size:15px;
         font-family:Raleway, sans-serif;
       }

       /*ABOUT ME*/
       #aboutme {
        background-color: #FEFEFE;
      }
      .two_title p {
        padding-bottom: 10%;
        display: inline-block;
        color: #222222;
        font-family:Raleway, sans-serif;
        font-size:213%;
        font-weight:bold;
        background-color: #FEFEFE;
        margin-left: 50%;
        transform: translate(-50%, 0);
      }
      .two_title p:after {
        content: '';
        display: block;
        border-bottom: 2px solid black;
      }
      .two_text p {
        text-align:center;
        font-size:125%;
        font-weight:bold;
        font-family:Raleway, sans-serif;
        border-left:2px solid grey;
        line-height: 230%
      }
    .g {
       font-size:160%;
     }
     .e {
       font-size:140%;
     }

     /*MY PROJECTS*/
     #portfolio {
      background-color: #222222;
    }
    .title p {
      display: inline-block;
      color: #FEFEFE;
      font-family:Raleway, sans-serif;
      font-size:213%;
      font-weight:bold;
      background-color: #FEFEFE;
      margin-left: 50%;
      padding-bottom:10%;
      transform: translate(-50%, 0);
      background-color: #222222;
    }
    .title p:after {
      content: '';
      display: block;
      border-bottom: 2px solid white;
    }
    .prj {
      padding: 2%;
    }
    .project img {
     width:100%;
     border:1px solid white;
   }
   .feature_title {
     color:white;
     font-family:Raleway, sans-serif;
     font-size:170%; 
     font-weight:bold;
   }
   .feature_text {
     color:white;
     font-size:140%;
     font-family:Raleway, sans-serif;
   }

   /*CONTACTS*/
   .me_title p {
    margin-bottom:14%;
    display: inline-block;
    color: #222222;
    font-family:Raleway, sans-serif;
    font-size:213%;
    font-weight:bold;
    background-color: #FEFEFE;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .me_title p:after {
    content: '';
    display: block;
    border-bottom: 2px solid black;
  }
  .me1 {
  	margin-left:8%;
  }
  .me1 i {
  	color:#3DB22A;
  	font-size:1000%;
  	font-weight:normal;
  }
  .me1 h3 {
  	color: #222222;
  	text-align: left;
  	font-size: 140%;
  	font-weight:bold;
  	font-family:Raleway, sans-serif;
  }
  .me1 p {
  	color:#3DB22A;
  	margin-top:3%;
  	font-family:Raleway, sans-serif;
  	font-size:130%;
  }
  .me1 a {
  	color:#3DB22A;
  }

  /*FOOTER*/
  #footer {
  	color:white;
  	background-color:#222222;
  	text-align:center;
    font-size:150%;
    font-family: Raleway, sans-serif;
    font-weight: normal;   
  }
  #footer .fa {
    color:white;
    padding-left:4%;
    font-size:230%;
  }
  #footer img {
    float:right;
    max-width:100%;
  }
  #footer .footer_content {
    padding-top: 15%;
  }
