.wrapper {
	margin: 0 auto 0;
}
.header {
	max-width: 1404px;
	max-height: 165px;
	background: #f6f7f8;
	display: flex;
	margin: -8px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
#graphiclogo {
	width: 133px;
	height: 138px;
	margin-top: 15px;
	margin-left: 45px;
}
.logotext {
	font-family: MuseoSansCyrl3;
	letter-spacing: 6px;
	font-size: 2.5em;
	margin-top: 60px;
	margin-left: 10px;
}
.aboutlogo {
	font-family: MuseoSansCyrl;
	margin-left: -38px;
	margin-top: 48px;
	font-size: 15px;
}
#graphicfounder {
	width: 457px;
	height: 138px;
	margin-top: 7px;
	margin-left: -48.5px;
}
.graphicfoundertext {
	font-family: MuseoSansCyrl;
	text-decoration: underline;
	font-size: 15px;
	color: #5f636e;
	margin-top: 107.5px;
	margin-left: 107px;
}

#buttmail {
	width: 133px;
	height: 138px;
	margin-top: -36px;
	margin-left: -185px;
}
.connect {
	font-family: MuseoSansCyrl;
	font-size: 0.9em;
	color: silver;
	margin-top: 31px;
	margin-left: -250px;
}
.telnumber {
	font-family: MuseoSansCyrl3;
	font-size: 1.4em;
	margin-top: 25px;
	margin-left: -180px;
}
#inst_vk {
	width: 138px;
	height: 133px;
	margin-top: -30px;
	margin-left: -12px;
}
#profile_and_cart {
	width: 134px;
	height: 138px;
	margin-top: 30px;
	margin-left: -159.5px;
}
.underheader {
	max-width: 1397px;
	max-height: 3072px;
	background: #f6f7f8;
	box-sizing: border-box;
}
.sizing_toplinetext {
}
#bgunderheader {
	margin-left: -8px;
	width: 1343px;
	max-width: 3840px;
	max-height: 2160px;
	display: block;
	box-sizing: border-box;
}
.toplinetext {
	box-sizing: border-box;
	list-style-type: none;
	font-family: MuseoSansCyrl2;
	display: flex;
	float: center;
	color: white;
	font-size: 1.2em;
	margin-left: 70px;
	margin-top: -500px;
}
.leftmenutext1 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	line-height: 2.6em;
	margin-top: -42px;
	margin-left: 40px;
}
#cockz {
	margin-top: -4px;
}
#aselected {
	color: #d9ceba;
}
.leftmenutext2 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	line-height: 2.6em;
	margin-top: -15px;
	margin-left: 40px;
}
.leftmenutext3 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	line-height: 2.6em;
	margin-top: -15px;
	margin-left: 40px;
}
.leftmenutext4 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	line-height: 2.6em;
	margin-top: -15px;
	margin-left: 40px;
}
.leftmenutext5 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	margin-top: -5px;
	margin-left: 40px;
}
#rarcoll {
	font-size: 1.4em;
	margin-top: 10px;
}
.leftmenutext6 {
	font-family: MuseoSansCyrl1;
	list-style-type: none;
	color: white;
	font-size: 0.8em;
	margin-top: -5px;
	margin-left: 40px;
}
#bslide {
	max-width: 839px;
	display: block;
	box-sizing: border-box;
	margin-left: 270px;
	margin-top: -280px;
}
.collmin {
	font-family:MuseoSansCyrl;
	font-size: 30px;
	color: white;
	margin-top: -310px;
	margin-left: 305px;
}
.description_slide {
	font-family: MuseoSansCyrl;
	font-weight: bold;
	font-size 15px;
	color: white;
	margin-left: 305px;
	margin-top: 5px;
}
#carrow {
	margin-top: -30px;
	margin-left: 360px;
}
.podrobnee {
	font-family: MuseoSansCyrl;
	letter-spacing: 1px;
	font-size: 0.7em;
	margin-top: -56px;
	margin-left: 305px;
}
.selectors {
	margin-top: -5px;
}
.dselector1 {
	margin-left: 320px;
}
.dselector2 {
	margin-left: -80px;
}
.dselected {
	position: absolute;
	margin-left: -80px;
	margin-top: 7px;
}
.dselector3 {
	margin-left: -60px;
}
.switchor {
	margin-top: -1200px;
	margin-left: 980px;
}
.content {
}
.h_novinki {
	font-family: MuseoSansCyrl2;
	font-size: 1.3em;
	letter-spacing: 3px;
	margin-left: 604px;
	float: center;
}
#elinetop {
	width: 100%
	height: 100%;
	margin-left: 60px;
	position: block;
}
.topline_content_text {
	font-family: MuseoSansCyrl;
	list-style-type: none;
	display: flex;
	color: #9da0af;
	float: center;
	line-height: 2.6px;
	font-size: 1.3em;
	letter-spacing: 2px;
	margin-top: -43px;
	margin-left: 129px;
}
.topline_text_selected {
	color: black;
	font-weight: bold;
}
#funderline {
	width: 51px;
	height: 6px;
	margin-top: -25px;
	margin-left: 159px;
	position: absolute;
}
#gtovarone {
	margin-top: 10px;
	margin-left: 70px;
	position: absolute;
}
#htovartwo {
	position: absolute;
	margin-left: 365px;
	margin-top: 10px;
}
#ktovarthree {
	position: absolute;
	margin-left: 660px;
	margin-top: 10px;
}
#itovarfour {
	position: absolute;
	margin-left: 960px;
	margin-top: 10px;
}
#jaboutcompany {
	position: absolute;
	margin-left: 70px;
	margin-top: 432px;
}
.textaboutcompanyh {
	position: absolute;
	font-family: MuseoSansCyrl2;
	font-size: 2em;
	margin-left: 710px;
	margin-top: 665px;
}
.textaboutcompany {
	position: absolute;
	font-family: MuseoSansCyrl;
	font-size: 1em;
	margin-left: 710px;
	margin-top: 765px;
}
#lbutton_podrobno {
	position: absolute;
	margin-left: 710px;
	margin-top: 1092px;
}
#iconz {
	display: block;
	margin-top: 1172px;
	float: center;
	margin-left: 169px;
	box-sizing: border-box;
}
.undericontexth1 {
	font-family: MuseoSansCyrl2;
	position: absolute;
	font-size: 1em;
	margin-top: -20px;
	margin-left: 145px;
	font-weight: bold;
}
.undericontext1 {
	font-family: MuseoSansCyrl;
	position: absolute;
	font-size: 1em;
	margin-top: 35px;
	margin-left: 115px;
}
.undericontexth2 {
	font-family: MuseoSansCyrl2;
	position: absolute;
	font-size: 1em;
	margin-top: -20px;
	margin-left: 585px;
	font-weight: bold;
}
.undericontext2 {
	font-family: MuseoSansCyrl;
	position: absolute;
	font-size: 1em;
	margin-top: 35px;
	margin-left: 505px;
}
.undericontexth3 {
	font-family: MuseoSansCyrl2;
	position: absolute;
	font-size: 1em;
	margin-top: -20px;
	margin-left: 925px;
	font-weight: bold;
}
.undericontext3 {
	font-family: MuseoSansCyrl;
	position: absolute;
	font-size: 1em;
	margin-top: 35px;
	margin-left: 885px;
}
.htext_vistavka {
	font-family: MuseoSansCyrl2;
	position: absolute;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 180px;
	margin-left: 80px;
	letter-spacing: 3px;
}
.text_vistavka {
	font-family: MuseoSansCyrl;
	position: absolute;
	font-size: 0.9em;
	margin-top: 187px;
	margin-left: 255px;
	text-decoration: underline;
	color: #696a6d;
}
#mbutton {
	position: absolute;
	margin-top: 480px;
	margin-left: 290px;
}
#mbutton2 {
	position: absolute;
	margin-top: 850px;
	margin-left: 840px;
}
#lvistavka {
	max-width: 100%;
	margin-left: -8px;
	justify-content: center;
	position: absolute;
	margin-top: 150px;
}
.salestext {
	font-family: MuseoSansCyrl2;
	font-size: 1.3em;
	position: absolute;
	letter-spacing: 3px;
	margin-top: 1050px;
	margin-left: 404px;
	float: center;
}
#funderline_sales {
	width: 51px;
	height: 6px;
	margin-top: 1140px;
	margin-left: 160px;
	position: absolute;
}
.topline_content_text_sales {
	font-family: MuseoSansCyrl;
	list-style-type: none;
	display: flex;
	color: #9da0af;
	line-height: 2.6px;
	font-size: 1.3em;
	letter-spacing: 2px;
	margin-top: 1105px;
	margin-left: 130px;
	position: absolute;
}
.topline_text_selected_sales {
	color: black;
	font-weight: bold;
}
#elinetop_sales {
	width: 100%
	height: 100%;
	margin-left: 60px;
	margin-top: 1100px;
	position: absolute;
}
#nsales1 {
	margin-left: 65px;
	position: absolute;
	margin-top: 1150px;
}
#osales2 {
	margin-left: 361px;
	position: absolute;
	margin-top: 1150px;
}
#psales3 {
	margin-left: 657px;
	position: absolute;
	margin-top: 1150px;
}
#qsales4 {
	margin-left: 953px;
	position: absolute;
	margin-top: 1150px;
}
#mainrassilka {
	position: absolute;
	margin-top: 1620px;
	margin-left: 55px;
}
#galka {
	position: absolute;
	margin-top: 1727px;
	margin-left: 424px;
}
footer {
	position: absolute;
	box-sizing: border-box;
	max-width: 1404px;
	height: 320px;
	background-color: #d3d5d9;
	margin-top: 1919px;
	margin-left: -8px;
}
#graphiclogo_footer {
	position: absolute;
	box-sizing: border-box;
	max-width: 10%;
	margin-left: 100px;
}
.logotext_footer {
	position: absolute;
	font-family: MuseoSansCyrl3;
	letter-spacing: 5px;
	font-size: 2em;
	margin-left: 75px;
	margin-top: 135px;
}
.aboutlogo_footer {
	position: absolute;
	font-family: MuseoSansCyrl;
	margin-left: 20px;
	margin-top: 180px;
	font-size: 0.9em;
	color: #77787b;
}
.catalog_footer {
	position: absolute;
	list-style-type: none;
	color: #77787b;
	font-family: MuseoSansCyrl;
	line-height: 0.7em;
	margin-left: 335px;
	font-size: 1.2em;
}
.catalog {
	font-family: MuseoSansCyrl2;
	color: black;
	font-size: 0.8em;
	line-height: 1.5em;
}
.opisanie_footer {
	font-family: MuseoSansCyrl;
	color: #77787b;
	font-size: 0.8em;
	margin-top: 65px;
	margin-left: 570px;
	line-height: 1.7em;
}
#phooter_graphicfounder {
	width: 457px;
	height: 138px;
	margin-top: -60px;
	margin-left: 460px;
}
.help_footer {
	position: absolute;
	list-style-type: none;
	font-family: MuseoSansCyrl;
	line-height: 2em;
	color: #77787b;
	font-size: 0.9em;
	margin-left: 835px;
	margin-top: -115px;
}
.help {
	line-height: 3em;
	font-family: MuseoSansCyrl2;
	color: black;
	font-size: 1em;
}
.contacts {
	position: absolute;
	font-family: MuseoSansCyrl2;
	font-size: 1.2em;
	color: black;
	margin-left: 1100px;
	margin-top: -190px;
}
.telnumber2 {
	position: absolute;
	font-family: MuseoSansCyrl3;
	font-size: 1.4em;
	margin-top: -145px;
	margin-left: 1100px;
}
.zakaz_zvonka {
	font-family: MuseoSansCyrl;
	position: absolute;
	font-size: 1em;
	color: #f15e49;
	margin-top: -115px;
	margin-left: 1100px;
}
#buttmail2 {
	position: absolute;
	width: 133px;
	height: 138px;
	margin-top: -155px;
	margin-left: 1040px;
}
.connect2 {
	position: absolute;
	font-family: MuseoSansCyrl;
	font-size: 0.9em;
	color: #696a6d;
	margin-top: -87.5px;
	margin-left: 1125px;
}
.copyright {
	color: #77787b;
	font-family: MuseoSansCyrl;
	font-size: 0.8em;
	margin-left: 75px;
}
.copyright2 {
	color: #77787b;
	font-family: MuseoSansCyrl;
	font-size: 0.8em;
	margin-left: 1015px;
	margin-top: -30px;
}