@charset "UTF-8";
@font-face {
  font-family: "RobotoBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: "RobotoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: "AkrobatRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf"); }

div.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

body {
  font-family: "RobotoRegular", sans-serif;
  background: url(../img/background.png) no-repeat;
  background-size: cover; }

div.header__inner {
  display: flex;
  flex-direction: row;
  background: url(../img/header.png) no-repeat;
  background-size: cover;
  height: 287px;
  position: relative; }

div.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

div.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  div.logo-text h2 {
    border-bottom: 2px #dfdfdf solid;
    color: #ffffff;
    font-family: RobotoBold;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    text-transform: uppercase; }
  div.logo-text h5 {
    color: #ffffff;
    font-family: RobotoLight;
    font-weight: 400;
    font-size: 23.5px;
    text-align: left;
    text-transform: uppercase; }

div.timepriem__inner {
  border-width: 1px;
  border-style: dotted;
  border-radius: 8px;
  border-color: #4575bd;
  background-color: #4575bd;
  opacity: 0.141;
  position: absolute;
  top: 40px;
  width: 208px;
  height: 151px;
  z-index: 1; }

div.timeday {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute; }
  div.timeday h2 {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4575bd;
    font-family: RobotoRegular;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline; }
  div.timeday p {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
    color: #414141;
    font-family: RobotoLight;
    font-size: 14px; }
    div.timeday p span.time {
      color: #c5d9eb; }

div.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px; }
  div.address p {
    color: #414141;
    font-family: RobotoLight;
    font-size: 1.000rem;
    font-weight: 400; }
  div.address a {
    color: #cfecf0;
    font-family: RobotoLight;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center; }

div.telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  div.telephone img {
    margin-right: 12px; }
  div.telephone h2 {
    color: #414141;
    font-family: RobotoBold;
    font-size: 27px;
    font-weight: 800; }

button.priembtn {
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #3eb8d7;
  width: 159px;
  height: 48px;
  color: #ffffff;
  font-family: RobotoBold;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  position: initial;
  top: 0px;
  left: 75%;
  z-index: 100; }
  button.priembtn:hover {
    cursor: pointer;
    background-color: #3aadca; }

div.menu {
  display: flex;
  flex-direction: row; }

div.menubox {
  background-color: #4575bd;
  opacity: 0.851;
  position: absolute;
  top: 229px;
  max-width: 1158px;
  height: 58px;
  width: 72%;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 99; }

div.menu__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px; }
  div.menu__inner ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
  }
    div.menu__inner ul li {
      height: 58px; }
      div.menu__inner ul li a {
        height: 58px;
        color: #ffffff;
        font-family: RobotoRegular;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase; }
        div.menu__inner ul li a:hover {
          text-decoration: underline; }

/* Стили для меню: */
div.menu__inner > ul {
  display: flex;
  justify-content: center; }

div.menu__inner > ul li a {
  display: block; }

div.menu__inner > ul li {
  position: relative;
  margin-right: 30px; }

/* Стили для подменю: */
div.menu__inner li ul {
  position: absolute;
  min-width: 250px;
  width: 250px;
  display: none;
  top: 30px;
  left: -60px; }

div.menu__inner li > ul li {
  border-bottom: 1px solid #dfdfdf; }

div.menu__inner li > ul li a {
  color: #414141;
  padding: 15px 10px 10px 20px;
  text-transform: none;
  background: #f9f9f9;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  div.menu__inner li > ul li a:hover {
    padding: 10px 10px 10px 15px;
    background-color: #ffffff;
    border-left: 5px solid #4575bd;
    text-decoration: none; }

div.menu__inner li > ul li ul {
  position: absolute;
  right: -250px;
  top: 0; }

div.menu__inner li:hover > ul {
  display: block; }

/* Гамбургер-меню: */
div.hamburger {
  display: none;
  position: absolute;
  padding-top: 50px;
  width: 24px;
  cursor: pointer; }
  div.hamburger span {
    background: #ffffff;
    display: block;
    height: 2px;
    margin-bottom: 5px; }

/* Адаптив */
@media screen and (max-width: 4000px) {
  div.menu__inner li ul {
    left: -100px; }
  div.menubox {
    max-width: 1158px; }
  button.priembtn {
    margin-right: 20px; } }

@media screen and (max-width: 2000px) {
    div.menubox {
    max-width: 2000px;
    position: static;
    width: 100%;
    margin: 0;
}
  button.priembtn {
    margin-right: 20px; } }

@media screen and (max-width: 1690px) {
  button.priembtn {
    margin-right: 20px;
    top: 0px; } }

@media screen and (max-width: 1400px) {
  div.timepriem__inner {
    height: 175px;
    margin-left: 40px; }
  div.timeday {
    margin-top: 40px;
    margin-left: 50px; }
  div.menu__inner li ul {
    left: -60px; }
  button.priembtn {
    margin-right: 20px;
    top: 0px; } }

@media screen and (max-width: 1200px) {
  div.logo {
    flex-direction: column;
    justify-content: center; }
  div.header__inner {
    height: 350px; }
  div.menubox {
    margin-top: 60px; }
  div.menu__inner ul li a {
    font-size: 12px; }
  div.timeday {
    margin-top: 40px;
    margin-left: 50px; }
  div.timepriem__inner {
    height: 175px; }
  button.priembtn {
    margin-right: 20px;
    top: 0px; } }

@media screen and (max-width: 992px) {
  div.header__inner {
    flex-direction: column;
    height: auto; }
  div.logo {
    flex-direction: column;
    justify-content: center; }
  div.timeday {
    margin-top: 0px;
    margin-left: 35%; }
  div.address {
    margin-top: 175px; }
  div.menubox {
    position: initial !important;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px; }
  div.menu__inner {
    height: 250px; }
  div.menu__inner ul {
    display: none;
    flex-direction: column;
    margin-top: 200px; }
  div.hamburger {
    display: block; }
  div.timepriem__inner {
    height: 151px;
    margin-left: 240px;
    margin-top: -35px;
    opacity: 1; }
  div.timeday h2 {
    color: #ffffff; }
  div.menu__inner {
    height: 100px; }
  button.priembtn {
    margin-right: 0px;
    position: absolute !important;
    top: 20px !important;
    left: 55%; } }

@media screen and (max-width: 920px) {
  div.timepriem__inner {
    margin-left: 230px; } }

@media screen and (max-width: 900px) {
  div.timepriem__inner {
    margin-left: 220px; } }

@media screen and (max-width: 850px) {
  div.timepriem__inner {
    margin-left: 210px; } }

@media screen and (max-width: 800px) {
  div.timepriem__inner {
    margin-left: 200px; } }

@media screen and (max-width: 769px) {
  div.timepriem__inner {
    margin-left: 130px; } }

@media screen and (max-width: 700px) {
  div.timepriem__inner {
    margin-left: 110px; } }

@media screen and (max-width: 620px) {
  div.timepriem__inner {
    margin-left: 100px; } }

@media screen and (max-width: 570px) {
  div.timepriem__inner {
    margin-left: 90px; } }

@media screen and (max-width: 500px) {
  div.timepriem__inner {
    margin-left: 75px; } }

@media screen and (max-width: 450px) {
  div.timepriem__inner {
    margin-left: 0px; } }

@media screen and (max-width: 768px) {
  .timepriem {
        width: 100%;
    display: flex;
    justify-content: center;
  }
  div.timepriem__inner {
    margin-left: 0;
  }
  div.timeday {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  div.header__inner {
    flex-direction: column;
    height: auto; }
  div.logo {
    flex-direction: column;
    justify-content: center; }
  div.menubox {
    position: initial !important;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px; }
  div.menu__inner {
    height: 250px; }
  div.menu__inner ul {
    display: none;
    flex-direction: column;
    margin-top: 200px; }
  div.timepriem__inner {
    height: 151px; }
  div.hamburger {
    display: block; }
  div.menu__inner {
    height: 100px; } }



div.about__inner {
  display: flex;
  flex-direction: row; }

div.about {
  margin-top: 20px; }
  div.about h2 {
    width: 320px;
    color: #414141;
    font-family: RobotoBold;
    font-size: 24px;
    font-weight: 800; }

div.aboutText {
  width: 320px; }
  div.aboutText p {
    margin-left: 20px;
    color: #414141;
    font-family: RobotoLight;
    font-size: 14px;
    font-weight: 400;
    width: 320px; }

div.aboutQuestion {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; }
  div.aboutQuestion h2 {
    padding-top: 10px;
    color: #414141;
    font-family: RobotoBold;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase; }

div.aboutImage {
  padding-left: 75px; }
  div.aboutImage img {
    width: 500px;
    max-width: 550px; }

/* Жалобы: */
div.about_sidebar ul {
    min-width: 250px;
    width: 250px;
    max-height: 534px;
    list-style: none;
    position: static;
    z-index: 90;
    left: -20px;
    padding-left: 0;
}

div.about_sidebar ul li a {
  color: #414141;
  padding: 5px 10px 5px 20px;
  text-transform: none;
  background: #f9f9f9;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  div.about_sidebar ul li a:hover {
    padding: 10px 10px 10px 15px;
    background-color: #ffffff;
    border-left: 5px solid #4575bd;
    text-decoration: none; }

div.about_sidebar ul li ul {
  position: absolute;
  right: -250px;
  top: 0; }

div.about_sidebar li:hover > ul {
  display: block; }

/* Адаптив */
@media screen and (max-width: 4000px) {
  div.aboutImage {
    padding-left: 75px; }
    div.aboutImage img {
      width: 500px;
      max-width: 550px;
      position: initial;
      right: 0px; }
  div.about_sidebar ul {
    width: 300px; } }

@media screen and (max-width: 2000px) {
  div.aboutImage {
    padding-left: 75px; }
div.aboutImage img {
    padding-top: 40px;
      width: 500px;
      max-width: 550px;
      position: absolute;
      right: 35px; }
  div.about_sidebar ul {
    width: 300px; } }

@media screen and (max-width: 1690px) {
  div.aboutImage {
    padding-left: 75px; }
div.aboutImage img {
    width: 430px;
      max-width: 550px;
      position: absolute;
      right: 60px; } }

@media screen and (max-width: 1599px) {
  div.aboutImage {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    div.aboutImage img {
      padding-top: 0;
      position: initial;
      right: 0px; }
  div.aboutText p {
    width: 300px;
    margin-left: 0px; }
  div.about_sidebar ul {
    width: 250px; } }

@media screen and (max-width: 1200px) {
  div.aboutImage {
    padding-left: 10px; }
    div.aboutImage img {
      width: 300px;
      margin-left: 50px;
      margin-top: 50%; }
  div.aboutText p {
    width: 200px;
    margin-left: 0px; }
  div.about_sidebar ul {
    width: 200px;
    min-width: 200px; } }

@media screen and (max-width: 992px) {
  div.about h2 {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center; }
  div.aboutQuestion {
    margin: 0 auto; }
  div.aboutText {
    margin: 0 auto; }
    div.aboutText p {
      width: 400px;
      margin-left: 0px; }
  div.aboutImage {
    padding: 0px;
    text-align: center; }
    div.aboutImage img {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 700px; }
  div.about_sidebar ul {
    width: 100%;
    top: 800px; } }

@media screen and (max-width: 768px) {
  div.about h2 {
    text-align: center; }
  div.aboutText {
    margin: 0 auto; }
    div.aboutText p {
      width: 350px;
      margin-left: 0px; }
  div.aboutQuestion {
    margin: 0 auto; }
  div.aboutImage {
    padding: 0px; }
    div.aboutImage img {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px; }
  div.about_sidebar ul {
    width: 100%;
    top: 800px; } }

@media screen and (max-width: 576px) {
  div.aboutText {
    margin: 0 auto; }
    div.aboutText p {
      width: 220px;
      margin-left: 0px; }
  div.aboutImage {
    padding-left: 10px; }
    div.aboutImage img {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px; }
  div.about_sidebar ul {
    width: 100%;
    top: 800px; } }

@media screen and (max-width: 450px) {
  div.about h2 {
    font-size: 18px;
    width: 100%; }
  div.aboutText p {
    width: 100%; }
  div.aboutQuestion h2 {
    font-size: 18px; }
  div.aboutQuestion img {
    margin-right: 0px; }
  div.about_sidebar ul {
    width: 100%;
    top: 830px; }
  div.aboutQuestion h2 {
    margin-right: 10px; } }

div.statistic {
  background-image: -moz-linear-gradient(-141deg, #4575bd 0%, #3eb8d7 100%);
  background-image: -webkit-linear-gradient(-141deg, #4575bd 0%, #3eb8d7 100%);
  background-image: -ms-linear-gradient(-141deg, #4575bd 0%, #3eb8d7 100%);
  min-height: 164px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* width: 888px */
div.statistic__item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.statistic__item h2 {
    color: #ffffff;
    font-family: RobotoBold;
    font-size: 36px;
    font-weight: 800;
    text-align: center; }
  div.statistic__item p {
    color: #ffffff;
    font-family: RobotoBold;
    font-size: 18px;
    font-weight: 800;
    text-align: center; }

/* Адаптив */
@media screen and (max-width: 1690px) {
  div.statistic__item {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media screen and (max-width: 1200px) {
  div.statistic__item {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media screen and (max-width: 992px) {
  div.statistic__item {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media screen and (max-width: 768px) {
  div.statistic {
    height: auto;
    flex-direction: column;
    height: auto; } }

@media screen and (max-width: 576px) {
  div.statistic {
    flex-direction: column;
    height: auto; } }

div.questions__content {
  margin-bottom: 30px; }
  div.questions__content h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #414141;
    font-family: RobotoBold;
    font-size: 24px;
    font-weight: 800; }

div.questions__item {
  margin-left: 20px;
  width: 410px; }

div.questions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

div.post {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  div.post img {
    margin-right: 20px; }
  div.post p {
    width: 220px;
    color: #414141;
    font-family: RobotoLight;
    font-size: 14px;
    font-weight: 400; }

div.post-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; }
  div.post-nav a {
    color: #4575bd;
    font-family: RobotoLight;
    font-weight: 400;
    text-decoration: underline; }

span.postDate {
  color: #4575bd;
  font-family: RobotoLight;
  font-weight: 400; }

div.question_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button.questionbtn {
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3eb8d7;
  width: 159px;
  height: 48px;
  color: #ffffff;
  font-family: RobotoBold;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center; }
  button.questionbtn:hover {
    cursor: pointer;
    background-color: #3aadca; }

/* Адаптив */
@media screen and (max-width: 1200px) {
  div.question_sidebar img {
    margin-left: 70px; } }

@media screen and (max-width: 992px) {
  div.post {
    flex-direction: column;
    align-items: center; }
  div.questions {
    justify-content: center; }
  div.post-nav {
    justify-content: space-around; }
  div.questions__content h2 {
    text-align: center; }
  div.question_sidebar img {
    margin-left: 0px; }
  div.aboutQuestion {
    flex-direction: row-reverse;
    width: 420px; }
    div.aboutQuestion img {
      margin-right: 30px;
      transform: rotate(90deg); } }

@media screen and (max-width: 768px) {
  div.post {
    flex-direction: column;
    align-items: center; }
  div.questions {
    justify-content: center; }
  div.post-nav {
    justify-content: space-around; }
  div.questions__content h2 {
    text-align: center; }
  div.question_sidebar img {
    margin-left: 0px; }
  div.aboutQuestion {
    flex-direction: row-reverse;
    width: 400px;
    margin-left: 20px; }
  div.aboutQuestion h2 {
    font-size: 24px; }
  div.aboutQuestion img {
    margin-right: 30px;
    transform: rotate(90deg); } }

@media screen and (max-width: 576px) {
  div.post-nav {
    flex-direction: column;
    margin-bottom: 40px; }
  div.questions {
    justify-content: center; }
  div.questions__content h2 {
    text-align: center; }
  div.question_sidebar img {
    margin-left: 0px;
    width: 100%; }
  div.aboutQuestion {
    flex-direction: row-reverse;
    margin-left: 20px; }
  div.aboutQuestion h2 {
    font-size: 22px; }
  div.aboutQuestion img {
    margin-right: 30px;
    transform: rotate(90deg); } }

@media screen and (max-width: 450px) {
  div.post p {
    width: 200px; } }

@media screen and (max-width: 2000px) {
  div.wrapper {
    width: 75%; } }

@media screen and (max-width: 1690px) {
  div.wrapper {
    width: 75%; } }

@media screen and (max-width: 1200px) {
  div.wrapper {
    width: 75%; } }

@media screen and (max-width: 992px) {
  div.wrapper {
    width: 75%; } }

@media screen and (max-width: 768px) {
  div.wrapper {
    width: 75%; } }

@media screen and (max-width: 576px) {
  div.wrapper {
    width: 75%; } }


/*DK STYLES*/
.about_sidebar {
  padding: 0 !important;
}

@media (max-width: 1580px){
  div.aboutImage img {
    width: 360px;
  }
}

@media (max-width: 1700px) {
div.statistic__item {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  div.aboutImage img {
    width: 360px;
    margin-right: -100px;
}
.about {
      padding-left: 20px;
}
@media (max-width: 1200px) {
  div.aboutImage img {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .header__inner {
    height: auto !important;
  }
  div.menubox {
     margin-top: 0px !important; 
  }
  div.menu__inner > ul li {
    margin-right: 20px;
  }
}


@media (max-width: 1000px){
  div.about__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .aboutQuestion img {
    display: none;
  }
  .aboutImage img {
    margin-bottom:15px !important;
  }
  div.questions__item {
    margin-bottom: 50px;
  }
  div.post p {
    width: 100%;
  }
  div.post-nav {
    justify-content: space-between;
  }
  div.post img {
    margin-right: 0;
    width: 100%;
  }
  .question_sidebar {
    margin-top: 15px;
  }
  div.menu__inner {
    align-items: center;
  }
  div.hamburger {
    padding-top: 0;
    position: absolute;
    top: 50px;
  }
  div.statistic__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  div.address {
    padding-left: 0 !important;
  }

}

@media (max-width: 500px){
  div.wrapper {
    width: 95%;
  }
}

@media (max-width: 1300px){
  div.timepriem__inner {
    margin-left: -5px;
  }
  div.timeday {
    margin-left: 10px;
  }
  div.telephone h2 {
    font-size: 19px !important;
  }

}

@media (max-width: 1400px){
  div.logo-text h2 {
    font-size: 32px !important;
  }
div.telephone h2 {
    font-size: 20px !important;
}
  div.address p {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1200px){
  div.telephone h2 {
    font-size: 18px !important;
  }
  div.address p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 900px){
  .timepriem {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/*DK STYLES END