body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background: #35acfa;
    padding: 26px 89px 20px 89px;
    background: linear-gradient(to right, #ad2789 1%, #a62f90 35%, #7269c1 68%, #5588dc 100%);
}

header p {
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto Medium, sans-serif;
    font-size: 16px;
    position: relative;
    color: white;
}

header p::after {
    content: url("../img/cat.png");
    height: 20px;
    width: 46px;
    left: 150px;
    position: absolute;
}

header p span {
    font-size: 20px;
}

/*Header end*/
/*First block*/
.first {
    color: white;
    background-image: url('../img/1/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 89px;
    position: relative;
    z-index: 1;
}

.first .background img {
    z-index: -1;
    right: 0px;
    top: 0px;
    position: absolute;
}

.first h1 {
    height: 115px;
    color: #ffffff;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 65px;
    text-transform: uppercase;
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 17px;
}

.first span.subtitle {
    font-family: Roboto Bold, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.first p {
    margin-top: 50px;
    height: 113px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    font-family: Gilroy Light, sans-serif;
}
.first p a {
    text-decoration: underline;
    color: white;
}

.first button {
    width: 243px;
    height: 57px;
    background-color: #ad2789;
    margin-top: 51px;
    border: 0;
    margin-bottom: 123px;
    z-index: 30;
    cursor: pointer;
}
.first button:hover {
    background-color: #c39f76;
}

.first button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32.06px;
    letter-spacing: 0.63px;
}

/*First block end*/
/*Second block*/

.second {
    padding: 0px 89px 0 89px;
}

.second p {
    padding-top: 201px;
    margin-bottom: 37px;
    text-transform: uppercase;
    font-size: 33px;
    margin-top: 0;
    font-family: Gilroy Extra Bold, sans-serif;
}

.second ul {
    margin-left: -20px;
    padding-bottom: 69px;
    margin-bottom: 0;
}

.second ul li {
    color: #ad2789;
}

.second ul li span {
    color: #373737;
    font-family: Roboto Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

/*Second block end*/
/*Third block*/
.third {
    background: url("../img/3/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 89px;
    display: flex;
    flex-direction: row;
    color: white;
}

.third .left-block {
    display: flex;
    width: 60%;
}

.third .left-block .block-image {
    margin-top: 328px;
    margin-bottom: 300px;
    height: 350px;
    width: 600px;
    max-width: 600px;
    background-color: #e0e2e3;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.third .left-block .block-image img {
    margin-top: -35px;
    max-height: 420px;
    max-width: 600px;
}

.third .left-block .block-image hr {
    top: 120px;
    right: -85px;
    height: 1px;
    width: 88px;
    background: white;
    position: absolute;
    border: 0;
}

.third .left-block .block-image hr#hr2 {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    top: 118px;
    right: -90px;
}

.third .right-block {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
}

.third .right-block h2 {
    margin: 0;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.third .right-block span.subtitle {
    font-family: Roboto Bold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.third .right-block hr {
    border: 0;
    margin: 19px 0 0 0;
    height: 2px;
    width: 60px;
    background-color: #ad2789;
}

.third .right-block p {
    line-height: 25px;
    font-family: Gilroy Light, sans-serif;
}

/*Third block end*/
/*Forth block*/
.fourth {
    padding: 0 89px;
    position: relative;
}

.fourth .two-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
}

.fourth .two-image img {
    width: 100%;
    right: 0;
    left: 0;
}

.fourth .two-image hr {
    position: absolute;
}

.fourth .two-image hr:nth-child(3) {
    top: -80px;
    left: 98px;
    border-radius: 5px;
    width: 5px;
    height: 5px;
    background-color: #35acfa;
    margin: 0;
    border: 0;
}

.fourth .two-image hr:nth-child(2) {
    border: none;
    background-color: #d1d1d1;
    top: -80px;
    left: 100px;
    height: 190px;
    width: 1px;
    margin: 0;
}

.fourth .two-image hr:nth-child(4) {
    border: none;
    background-color: #5c5c5c;
    top: 770px;
    left: 540px;
    height: 1px;
    width: 260px;
    margin: 0;
}

.fourth .two-image hr:nth-child(5) {
    border: none;
    background-color: #35acfa;
    top: 768px;
    left: 540px;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin: 0;
}

.fourth .one-image {
    top: 99px;
    right: 0;
    position: absolute;
}

.fourth .one-image hr {
    position: absolute;
    top: 0;
    width: 50px;
    height: 2px;
    background-color: #d1d1d1;
}

.fourth .one-image hr:nth-child(2) {
    border: 0;
    top: -85px;
    left: 210px;
    height: 240px;
    width: 1px;
}

.fourth .one-image hr:nth-child(3) {
    width: 168px;
    height: 1px;
    top: -86px;
    left: 43px;
    border: 0;
}

.fourth .one-image hr:nth-child(4) {
    top: -88px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #35acfa;
    left: 37px;
    border: 0;
}

.fourth .text h2 {
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.fourth .text hr {
    border: 0;
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
}

.fourth p {
    letter-spacing: -0.5px;
    font-family: Gilroy Light, sans-serif;
    font-size: 18px;
}

/*Fourth block end*/
/*Fifth block*/
.fifth {
    padding: 0 89px;
}

.fifth .text h2 {
    margin-top: 876px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.fifth .text hr {
    border: 0;
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
}

.fifth p {
    font-family: Gilroy Light, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}

.fifth .block {
    display: flex;
    flex-direction: row;
}

.fifth .block .left-block {
    display: flex;
    width: 60%;
}

.fifth .block .left-block .block-image {
    box-shadow: 0 0 15px rgba(22, 22, 22, 0.5);
    margin-top: 108px;
    margin-bottom: 156px;
    height: 350px;
    width: 600px;
    max-width: 600px;
    background-color: #e0e2e3;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.fifth .block .left-block .block-image img {
    margin-top: -35px;
    max-height: 420px;
    max-width: 600px;
}

.fifth .block .left-block .block-image hr {
    top: 120px;
    right: -85px;
    height: 1px;
    width: 88px;
    background-color: #d1d1d1;
    position: absolute;
    border: 0;
}

.fifth .block .left-block .block-image hr#hr2 {
    background-color: #35acfa;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    top: 118px;
    right: -90px;
}

.fifth .block .right-block {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
}

.fifth .block .right-block h2 {
    margin: 0;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.fifth .block .right-block hr {
    margin: 0;
    border: 0;
    height: 2px;
    width: 60px;
    background-color: #ad2789;
}

.fifth .block .right-block p {
    color: #373737;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    line-height: 25px;
    font-family: Gilroy Light, sans-serif;
}

/*Fifth block end*/
/*Sixth block*/
.sixth {
    padding: 0 89px;
    background: url("../img/6/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.sixth .text h2 {
    padding-top: 157px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.sixth .text hr {
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
    border: 0;
}

.sixth p {
    margin-bottom: 0;
    letter-spacing: -1px;
    width: 629px;
    height: 45px;
    color: #ffffff;
    font-family: Gilroy Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
}

.sixth .double-block {
    padding-top: 71px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sixth .double-block .inner-block {
    box-shadow: 0 0 15px rgba(22, 22, 22, 0.5);
    border-radius: 5px;
    background-color: #b1d1e7;
    background-image: linear-gradient(to top, #b1d1e7 0%, #9bb7cb 100%);
    position: relative;
    box-shadow: 0 0 15px rgba(22, 22, 22, 0.5);
}

.sixth .double-block hr {
    margin: 0;
    border: 0;
    position: absolute;
    background-color: white;
}

.sixth .double-block hr:nth-child(1) {
    left: 20px;
    top: -50px;
    width: 1px;
    height: 50px;
}

.sixth .double-block hr:nth-child(2) {
    left: 18px;
    top: -50px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

.sixth .inner-block {
    width: 450px;
    height: 450px;
    background-color: #b1d1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.sixth .block {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 200px;
}

.sixth .block .text-block h2 {
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.sixth .block .text-block hr {
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
    border: 0;
}

.sixth .block .text-block p {
    letter-spacing: -1px;
    font-family: Gilroy Light, sans-serif;
    line-height: 30px;
    height: 74px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
}

.sixth .third-block {
    top: 10px;
    right: 60px;
    position: relative;
}

.sixth .third-block hr {
    border: 0;
    position: absolute;
    background-color: white
}

.sixth .third-block hr:nth-child(1) {
    margin: 0;
    width: 80px;
    height: 1px;
    top: 60px;
    left: -80px;
}

.sixth .third-block hr:nth-child(2) {
    margin: 0;
    width: 5px;
    height: 5px;
    left: -81px;
    top: 58px;
}

.sixth .decoration-block {
    width: 560px;
    height: 310px;
    background-color: #b1d1e7;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: -20px;
    opacity: 0.6;
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.95);
}

.sixth .inner-decoration {
    width: 520px;
    height: 350px;
    /*    display: flex;
    justify-content: center;
    align-items: center;*/
    border-radius: 5px;
    background-color: #b1d1e7;
    position: absolute;
    opacity: 0.7;
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.95);

}

.sixth .block .third-block img {
    top: -30px;
    left: 10px;
    z-index: 1;
    position: absolute;
}

/*Sixth block end*/
/*Seventh block*/
.seventh {
    padding: 0 89px;
    color: black;
    position: relative;
}

.seventh .first-block .text-block h2 {
    padding-top: 157px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.seventh .first-block .text-block hr:nth-child(2) {
    border: 0;
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
}

.seventh .first-block .text-block hr:nth-child(4) {
    top: 275px;
    left: 640px;
    margin: 0;
    border: 0;
    width: 57px;
    height: 1px;
    background-color: #d1d1d1;
    position: absolute;
}

.seventh .first-block .text-block hr:nth-child(5) {
    top: 273px;
    width: 6px;
    height: 6px;
    background-color: #35acfa;
    border-radius: 6px;
    border: 0;
    margin: 0;
    position: absolute;
    left: 693px;
}

.seventh .first-block .text-block hr:nth-child(6) {
    top: 1067px;
    right: 704px;
    width: 6px;
    border: 0;
    margin: 0;
    border-radius: 6px;
    height: 6px;
    background: #35ACFA;
    position: absolute;
}

.seventh .first-block .text-block hr:nth-child(7) {
    width: 125px;
    height: 1px;
    margin: 0;
    border: 0;
    background: #D1D1D1;
    position: absolute;
    top: 1070px;
    right: 579px;
}

.seventh .first-block .text-block p {
height: 45px;
color: #373737;
font-family: Gilroy Light, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 29px;
}

.seventh .first-block {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.seventh .first-block .image-block {
    position: relative;
}

.seventh .first-block .decoration-block {
    width: 499px;
    height: 688px;
    box-shadow: 0 0 9px 1px rgba(22, 22, 22, 0.75);
    background-color: #b1d1e7;
    background-image: linear-gradient(to top, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    opacity: 0.5;
    left: 24px;
    top: 65px;
    position: absolute;
    border-radius: 5px;
}

.seventh .first-block .inner-decoration {
    width: 541px;
    height: 611px;
    box-shadow: 0 0 9px 1px rgba(22, 22, 22, 0.75);
    border-radius: 5px;
    background-color: #b1d1e7;
    background-image: linear-gradient(to top, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    opacity: 0.5;
    left: 3px;
    top: 105px;
    position: absolute
}

.seventh .first-block img {
    width: 476px;
    height: 772px;
    left: 35px;
    top: 20px;
    position: absolute;
}

.seventh .first-block .text-block {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    width: 100%;
}

.seventh .first-block .text-block h2 {
    padding-top: 235px;
}

.seventh .second-block {
    display: flex;
    flex-direction: row;
}

.seventh .second-block .text-block h2 {
    padding-top: 600px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.seventh .second-block .text-block hr:nth-child(2) {
    height: 2px;
    width: 58px;
    margin: 0;
    border: 0;
    background: #ad2789;
}

.seventh .second-block .text-block p {
    height: 74px;
    color: #373737;
    font-family: Gilroy Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 22px;
}

.seventh .second-block .text-block .buttons-link a {
    margin-right: 12px;
}

.seventh .second-block .image-block img {
    top: 650px;
    right: 0;
    position: absolute;
    z-index: -1;
}

.seventh .third-block {
    position: relative;
}

.seventh .third-block a {
    padding-right: 32px;
    padding-bottom: 256px;
}

.seventh .third-block .text-block h2 {
    padding-top: 423px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 33px;
}

.seventh .third-block .text-block hr:nth-child(2) {
    border: 0;
    height: 2px;
    width: 58px;
    margin: 0;
    background: #ad2789;
}

.seventh .third-block .text-block hr:nth-child(4) {
    border: 0;
    position: absolute;
    top: 459px;
    left: 610px;
    width: 6px;
    height: 6px;
    background-color: #35acfa;
    border-radius: 6px;
    margin: 0;
}

.seventh .third-block .text-block hr:nth-child(5) {
    top: 461px;
    left: 550px;
    position: absolute;
    width: 59px;
    height: 1px;
    background-color: #d1d1d1;
    margin: 0;
    border: 0;
}

.seventh .third-block .text-block p {
    color: #373737;
    font-family: Gilroy Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
}

.seventh .third-block .text-block {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    margin-bottom: 245px;
}

.seventh .third-block .image-block {
    position: relative;
}

.seventh .third-block .decoration-block {
    left: 0px;
    top: 375px;
    width: 547px;
    height: 310px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 14px 2px rgba(22, 22, 22, 0.75);
    background-color: #b1d1e7;
    background-image: linear-gradient(to top, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    opacity: 0.5;
}

.seventh .third-block .inner-decoration {
    left: 24px;
    top: 355px;
    width: 501px;
    height: 348px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 14px 2px rgba(22, 22, 22, 0.75);
    background-color: #b1d1e7;
    background-image: -webkit-linear-gradient(bottom, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    background-image: -o-linear-gradient(bottom, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    background-image: linear-gradient(to top, #e3e3e3 0%, #e3e3e3 1%, #eff0f1 100%);
    opacity: 0.5;
}

.seventh .third-block img {
    width: 476px;
    height: 393px;
    left: 35px;
    top: 330px;
    position: absolute;
}

/*Seventh block end*/
/* Eighth block */
.eighth {
    padding: 0 200px;
    background: url("../img/8/imac-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.eighth h2 {
    padding-top: 254px;
    font-family: Gilroy Extra Bold, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.eighth p {
    width: 521px;
    color: #ffffff;
    font-family: Gilroy Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.eighth p.italic {
    width: 169px;
    color: #ffffff;
    font-family: Gilroy Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 50px;
}

.eighth button {
    border: none;
    width: 520px;
    height: 60px;
    background-color: #ae278a;
    margin-bottom: 342px;
    cursor: pointer;
}
.eighth button:hover {
    background-color: #c39f76;
}

.eighth button a {
    width: 180px;
    height: 15px;
    color: #ffffff;
    font-family: Roboto Medium, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 32.06px;
    letter-spacing: 0.84px;
    text-decoration: none;
}

/*Eighth block end*/
/*Footer*/
footer .footer-content {
    margin-top: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 115px;
}

footer p {
    text-align: right;
    font-family: Gilroy Light, sans-serif;
    font-size: 14px;
    color: #313131;
}

footer p a {
    text-decoration: none;
    color: #313131;
}

footer .footer-content .space {
    line-height: 3px;
}

footer .footer-content .space p:nth-child(2) {
    margin-right: -30px;
}