* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	padding: 30px 10px;
	padding-top: 30px;
	background-color: #ff;
	width: 100%;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.logo-title {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 10px;
}
.logo-subtitle {
	font-size: 9px;
	text-transform: uppercase;
}
.header-left {
	display: flex;
}
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 17px;
}
.line {
	background-color: black;
	width: 23px;
	height: 3px;
}
.header-right {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.number {
	font-size: 18px;
	font-weight: 900;
	line-height: 10px;
}
.calendar {
	font-size: 10px;
	text-transform: uppercase;
}