body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Akzidenz-Grotesk Pro Regular, sans-serif;
    background: #f5f5f5;
}

a {
    outline: none;
}

/*Background*/
.background {
    z-index: -111;
    max-width: 100%;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Header*/
header {
    margin: 0 auto;
    max-width: 1170px;
}

.top-header {
    display: grid;
    align-items: center;
    padding-top: 30px;
    grid-template-columns: 1fr 2fr 1fr;
}

.top-header .logo-block {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-header .logo-block hr {
    height: 34px;
}

.top-header .logo-block img {
    max-width: 175px;
    padding-right: 10px;
}

.top-header .logo-block p {
    width: 175px;
    padding-left: 10px;
    font-size: 12px;
    color: #bcc0c4;
    padding-right: 110px;
}

.top-header .advantages {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-header .advantages .advantage {
    display: grid;
    align-content: center;
    grid-template-columns: 15% 75%;
}

.top-header .advantages .advantage img {
    max-width: 28px;
}

.top-header .advantages .advantage p {
    font-size: 14px;
    margin: 0;
}

.top-header .contact-link {
    text-align: right;
}

.top-header .contact-link a {
    color: white;
    text-decoration: none;
}

.top-header .contact-link a.phone {
    font-size: 20px;
    font-weight: bold;
}

.top-header .contact-link a.call__form {
    font-size: 15px;
    border-bottom: 1px dashed #e21e2d;
}

/*Main header*/
.main-header {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-header .left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-header .left-side .main-text h1 {
    font-size: 52px;
    font-family: Gotham Pro Bold, sans-serif;
    line-height: 65px;
    margin: 0;
}

.main-header .left-side .main-text h2 {
    font-family: Gotham Pro Regular, sans-serif;
    margin-top: 30px;
    font-size: 22px;
    font-weight: normal;
}

.main-header .left-side .main-advantages {
    top: 450px;
    position: absolute;
    margin-top: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-header .left-side .main-advantages .main-advantage {
    display: flex;
    height: 60px;
    padding-bottom: 15px;
}

.main-header .left-side .main-advantages .main-advantage p {
    font-size: 24px;
    margin: auto 10px;
    font-family: Akzide-Grotnzesk Pro Regular, sans-serif;
}

.circle {
    width: 60px;
    height: 60px;
    background: #414d59;
    border-radius: 100px;
    position: relative;
}

.circle .circle-inner {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -51%);
}

.circle .circle-inner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -51%);
}



/*Right side*/
.right-side {
    margin-bottom: 60px;
}

.right-side .contact-block {
    margin-left: 90px;
    border-radius: 5px;
    height: 480px;
    background: white;
    width: 430px;
    padding: 10px;
}
.right-side .contact-block .contact-inner {
    border: 1px solid #f1f1f1;
    text-align: center;
}

.right-side .contact-text h3 {
    font-size: 23px;
    color: #222;
    font-weight: normal;
    font-family: Akzide-Grotnzesk Pro Regular, sans-serif;
}

.right-side .contact-text h3 .redtext {
    color: #c22330;
}

.right-side .contact-text p {
    font-size: 15px;
    color: #a1a2a8;
}

.contact-form fieldset {
    border: 0;
}

.contact-form form input {
    font-size: 15px;
    border-radius: 5px;
    border: 3px solid #f2f2f2;
    margin-bottom: 10px;
    padding: 20px 22px;
}

.contact-form form fieldset input {
    width: 85%;
}

.contact-form form input#submit {
    text-align: center;
    background: #c22330;
    color: white;
    border-radius: 30px;
    width: 300px;
    box-shadow: inset 0px -2px 3px 0px rgba(50, 50, 50, 0.75);
    margin: 30px 0 0 auto;
    cursor: pointer;
    transition: 0.1s;
}

.contact-form form input#submit:hover {
    transform: translateY(-5px);
}

.contact-form form label {
    text-align: center;
}

.contact-form form label p {
    font-size: 14px;
    color: black;
    line-height: 0px;
    margin: 18px auto -5px auto;
    height: 50px;
}

.contact-decoration {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: black;
}

.contact-decoration .line-first {
    z-index: 1;
    width: 405px;
    height: 20px;
    background: white;
    border-radius: 6px;
    margin: 0 auto;
    opacity: 0.8;
}

.contact-decoration .line-second {
    z-index: 3;
    width: 385px;
    height: 20px;
    background: white;
    border-radius: 6px;
    margin: -11px auto 0 auto;
    opacity: 0.5;
}
/*Info*/
.info {
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.info .info-first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 100px;
}
.info .info-first .info-left {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
.info .info-first .info-left p {
    margin: 0;
    color: #041527;
    font-family: Gotham Pro Regular, sans-serif;
    font-size: 20px;
    font-weight: light;
}
.info .info-first .info-left p span.bluetext {
    color: #448be1;
    font-size: 30px;
    font-family: Gotham Pro Bold, sans-serif;
}
.info .info-first .info-left .stats {
    margin-top: -50px;
    margin-bottom: -120px;
    display: grid;
    grid-template-columns: 95% 5%;
}
.info .info-first .info-left .stats p {
    font-size: 36px;
    font-family: Gotham Pro Bold, sans-serif;
}
.info .info-first .info-left p span.big-number {
    font-size: 300px;
    font-weight: bold;
    font-family: Gotham Pro Bold, sans-serif;
}
.info .info-first .info-left .stats .circle-procent {
    margin-top: 200px;
    margin-left: -90px;
    width: 85px;
    height: 85px;
    background: #c22330;
    border-radius: 100px;
    position: relative;
}
.info .info-first .info-left .stats .circle-procent span.procent {
    font-family: Gotham Pro Bold, sans-serif;
    font-size: 61px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.info .info-first .info-right {
    display:grid;
    grid-template-columns: 1fr;
}
.info .info-first .info-right .warning-container {
    position: relative;
    margin-left: 30px;
}
.info .info-first .info-right img {
    max-width: 100%;
    width: 120%;
}
.info .info-first .info-right .warning-block {
    position: absolute;
    top: 255px;
    left: -30px ;
    border-radius: 6px;
    padding: 5px;
    background: white;
    margin: 0 auto;
}
.info .info-first .info-right .warning-block p {
    color: black;
    margin: 0;
    text-align:center;
    border: 1px solid #c22330;
    border-radius: 4px;
    padding: 12px 17px;
    background: white;
    width: 285px;
}
.info .info-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 90px;
    grid-auto-rows: auto;
    padding:0;
}
.info .info-second .info-left {
}
.info .info-second .info-right {
    display: grid;
    grid-template-rows: 20% 20% 60%;
    color: #1a1a1a;
}
.info .info-second .info-right h2 {
    font-size: 36px;
    font-family: Gotham Pro Bold, sans-serif;
    color: black;
}
.info .info-second .info-right p {
   font-size: 20px;
   font-family: Gotham Pro Regular, sans-serif; 
}
.info .info-second .info-right ul {
    margin-top: -30px;
    display: grid;
    grid-template-rows: 60px 60px 60px;
    padding: 0;
    }
.info .info-second .info-right ul li {
    align-items: center;
    display:grid;
    grid-template-columns: 10% 90%;
    list-style-type: none;

}
.circle-plus {
    width: 36px;
    height: 36px;
    background: #e5c3c6;
    border-radius: 100px;
    position: relative;
}
.plus-inner {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: #c22330;
    border-radius: 100px;
    color: white;
    text-align:center;
}

/*Services*/
.services-background {
    background-color: #041527;
    position: relative;
}
.services-background .service-background img {
    position: absolute;
    z-index: 1;
    height: 100%;
    right:0;
    top:0;
}
.services {
    z-index: 5;
    margin: -70px auto 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-rows: 20% 80%;
}
.services h1 {
    z-index: 5;
    margin-top: 90px;
    text-align:center;
    font-size: 36px;
    font-family: Gotham Pro Bold, sans-serif;
}
.services .service-line {
    z-index: 5;
    margin-top: 22px;
    margin-left: 205px;
    height: 2px;
    width: 170px;
    background: #c22330;
}
.services ul {
    z-index: 5;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.services ul li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.services ul li p {
    font-size: 18px;
    font-family: Gotham Pro Regular, sans-serif;
}
.circle-service {
    width: 95px;
    height: 95px;
    background: #2a1829;
    border-radius: 100px;
    position: relative;
    margin: 0 auto;
}
.service-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: #c22330;
    border-radius: 100px;
}
.service-inner img {
    max-width: 45px;
    padding: 12px;
}