* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
}
a {
	text-decoration: none;
}
button {
	outline: none;
	cursor: pointer;
}
.hamburger {
	display: none;
}
.mobile {
	display: none;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}

/*HEADER*/
header {
	color: #0095ff;
	padding: 22px 0;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-family: Montserrat Extra Bold, sans-serif;
}
.logo a {
	font-size: 22px;
}
.logo .snab {
	color: #0095ff;
}
.logo .plus1 {
	color: #00d68f;
}
.feedback a {
	color: #0095ff;
	margin-right: 71px;
	font-size: 16px;
	font-family: Montserrat Semibold, sans-serif;
}
.feedback a.feedback-mail {
	position: relative;
}
.feedback a.feedback-mail::before {
	content: url("../img/Icons_PNG/email-outline.png");
	position: absolute;
	width: 22px;
	height: 18px;
	top: 0;
	left: -30px;
}
.feedback a.feedback-number {
	position: relative;
}
.feedback a.feedback-number::before {
	content: url("../img/Icons_PNG/smartphone-outline.png");
	position: absolute;
	width: 22px;
	height: 18px;
	top: -3px;
	left: -30px;
}
.feedback button {
color: #00d68f;
font-family: Montserrat Bold;
font-size: 14px;

width: 200px;
height: 54px;
border-radius: 27px;
border: 1px solid #00d68f;
border: 2px solid #00cab0;
background: transparent;
}
/*END HEADER*/

/*MAIN*/
.main {
	background-image: url("../img/Icons_PNG/mainbg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}
.main h1 {
	font-family: Montserrat Black, sans-serif;
	font-size: 48px;
	line-height: 59px;
	padding-top: 57px;
}
.main ul {
	margin-top: 41px;
}
.main ul li {
font-family: Montserrat Extra Bold, sans-serif;
font-size: 20px;
line-height: 47px;

list-style-type: none;
}

.main ul li:before {
  content: url("../img/Icons_PNG/Буллит.png");
  padding-right: 13px;
}
.main button.main-sell {
	margin-top: 44px;
	margin-bottom: 64px;
	width: 286px;
	height: 64px;
	border-radius: 16px;
	background-color: #3366ff;

	font-family: Montserrat Extra Bold, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 64px;
	color: white;
	border: 0;
}
/*END MAIN*/

/*GOODS*/
.goods {
	margin-top: 76px;
}
.goods .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.good-block {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}
.good {
	margin-bottom: 67px;
}
.good-top {
	display: flex;
}
.good-top img {
	width: 74px;
	height: 74px;
}
.good-top .good-name {
	margin-left: 31px;
	color: #101426;
	font-family: Montserrat Extra Bold, sans-serif;
	font-size: 18px;
	line-height: 34px;
}
.good-bottom {
	margin-top: 22px;
}
.good-bottom ul li {
	color: #2e3a59;
	font-family: Montserrat Regular, sans-serif;
	font-size: 15px;
	line-height: 36px;

	list-style-type: none;
}

.goods ul li:before {
  content: url("../img/Icons_PNG/goods-dot.png");
  padding-right: 13px;
}
.goods-order {
	margin-top: 29px;
	width: 212px;
	height: 54px;
	border-radius: 16px;
	background-color: #3366ff;

	font-family: "Montserrat Extra Bold";
	font-size: 14px;
	line-height: 54px;
	color: white;
	border: 0;
}
.goods-order:hover {
	background-color: #274bdb;
}
/*END GOODS*/

/* FOOTER */
footer {
	background-color: #2e3a59;
	padding-top: 75px;
}
footer .container {
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
}
.footer-left {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}
.footer-text {
	display: flex;
	flex-direction: column;
}
.footer-text span {
	color: #fefeff;
	font-family: "Montserrat Extra Bold";
	font-size: 20px;
	font-weight: 400;
	line-height: 47px;
	position: relative;
}
span.delivery::before {
	width: 22px;
	height: 20px;
	position: absolute;
	content: url("../img/Icons_PNG/car-outline.png");
	top: 0;
	left: -35px;
}
span.country::before {
	width: 22px;
	height: 20px;
	position: absolute;
	content: url("../img/Icons_PNG/pin-outline.png");
	top: 0;
	left: -35px;
}
span.pay::before {
	width: 22px;
	height: 20px;
	position: absolute;
	content: url("../img/Icons_PNG/credit-card-outline.png");
	top: 0;
	left: -35px;
}
.footer-contacts {
	margin-top: 43px;
	margin-bottom: 43px;
}
.footer-contacts a {
	color: #0095ff;
	font-family: "Montserrat Semibold";
	font-size: 16px;
	position: relative;
}
.footer-contacts a.footer-mail {
	margin-right: 71px;
}
a.footer-mail::before {
	width: 22px;
	height: 20px;
	position: absolute;
	content: url("../img/Icons_PNG/email-outline.png");
	top: 0;
	left: -35px;
}
a.footer-number::before {
	width: 22px;
	height: 20px;
	position: absolute;
	content: url("../img/Icons_PNG/smartphone-outline.png");
	top: 0;
	left: -35px;
}
footer span.copyright {
color: #8f9bb3;
font-family: Montserrat Regular, sans-serif;
font-size: 16px;
line-height: 74px;
margin-left: -25px;
}

.footer-right span.form-title {
	color: #fefeff;
	font-family: "Montserrat Extra Bold";
	font-size: 20px;
}

footer form {
	max-width: 632px;
	width: 100%;
}
footer input {
	outline: 0;
	padding: 24px 31px;
	border: 0;
}
footer input::placeholder {
	color: #8f9bb3;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 74px;
}
footer input#mail {
	width: 308px;
	height: 64px;
	border-radius: 16px;
	background-color: #ffffff;
	margin-right: 15px;
}
footer input.submit {
	cursor: pointer;
	color: #ffffff;
	font-family: "Montserrat Extra Bold";
	font-size: 16px;
	width: 308px;
	height: 64px;
	border-radius: 16px;
	background-color: #3366ff;
	cursor: pointer;
}
footer input.submit:hover {
	background-color: #274bdb;
}
footer textarea {
	margin-top: 15px;
	padding: 24px 31px;
	outline: 0;
	color: #8f9bb3;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	resize: none;
	width: 100%;
	max-width: 632px;
	height: 122px;
	border-radius: 16px;
	background-color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}
 
/* стили для метки */
label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
 
/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
	width: 24px;
	height: 24px;
	border-radius: 8px;
	border: 1px solid #f5f5f5;
	background-color: #ffffff;
	line-height: 24px;

  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  border-image: initial;
  vertical-align: middle;
}
 
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: url("../img/Icons_PNG/Галочка.png");
}
/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}

form label {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	color: #8f9bb3;
}
a.policy {
	color: #0095ff;
}
/* END FOOTER */

/*POPUP*/
.popup {
	top: 0;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup-content {
	z-index: 1;
	max-width: 568px;
	max-height: 563px;
	width: 100%;
	height: 100%;
	box-shadow: 0 24px 64px rgba(46, 58, 89, 0.5);
	border-radius: 16px;
	background-color: #2e3a59;
	padding: 60px 40px 0 40px;
}
.popup-content form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup-title {
	color: #fefeff;
	font-family: "Montserrat Extra Bold";
	font-size: 20px;
	padding-bottom: 30px;
}
.popup-content ::placeholder {
	color: #8f9bb3;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
}
.popup-content input {
color: #101426;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 29px;

width: 488px;
height: 64px;
border-radius: 16px;
background-color: #ffffff;
border: 0;
padding: 25px 32px;
margin-bottom: 15px;
outline: 0;
border: 0;
}

.popup-content textarea {
	padding: 23px 32px;
	width: 488px;
	height: 122px;
	border-radius: 16px;
	border: 2px solid #0095ff;
	background-color: #ffffff;
	resize: none;
	outline: 0;
	border: 0;
	margin-bottom: 15px;
}

.popup-content input.popup-submit {
width: 488px;
height: 64px;
border-radius: 16px;
background-color: #3366ff;

color: #ffffff;
font-family: "Montserrat Extra Bold";
font-size: 16px;
font-weight: 400;
line-height: 10px;
cursor: pointer;
}
.popup-background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	opacity: 0.8;
}
/*END POPUP*/