body {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	background-color: #404b3c;
	color: white;
	font-family: GothamPro, sans-serif;
}
header {
	background: url(../img/backgroundFirst.png);
	position: absolute;
	height: 100vh;
	width: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 23px;
}
.header .logo-name h2 {
	font-weight: lighter;
	margin-left: 38px;
	font-size: 18px;
}
.header .number h2 {
	margin-top: -25px;
	text-align:right;
	font-size: 26px;
}
.header .number h2 u {
	font-size: 18px;
}
.header-center .header-text {
	margin-top: 80px;
}
.header-center .header-text h2 {
	font-size: 25px;
}
.header-center .header-text h1 {
	font-size: 62px;
	font-family: GothamBlack;
}
.header-center .header-button button {
	margin-top: 125px;
	text-align: left;
	font-size: 16px;
	height: 60px;
	width: 300px;
	border-radius: 8px;
	font-weight: bolder;
	border: none;
	color: #353535;
	background-color: #fee849;
	background-image: -webkit-linear-gradient(#fee849 36%, #fba733 80%);
	background-image: -o-linear-gradient(#fee849 36%, #fba733 80%);
	background-image: linear-gradient(#fee849 36%, #fba733 80%);
	box-shadow: inset 1px -3px 2px 0px rgba(50, 50, 50, 0.75);
	cursor: pointer;
	margin-right: 130px;
}
.header-center .header-button button:active, button:focus {
  outline: none;
}
.header-center .header-button button img {
	margin-left: -15px;
	padding-right: 15px;
}
.header-center .sneakerImage img {
	top: -150px;
	left: -150px;
	position: absolute;
}
.header-description {
	margin-top: 208px;
}
.header-description .description-first h3 {
	font-size: 18px;
	line-height: 23px;
}
.header-description .description-first:first-child {
	padding-bottom: 34px;
}
.header-description .description-first: {
	bottom: 0;
}
.header-description .description-first h3 .name-description {
	color: #d2ed7d;
}