@media (min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}

@media (max-width: 1200px){
    .single-page__block-images__group img, .single-page__block-images__group a {
        max-width: 136px;
    }
}

@media (max-width: 992px){
    /* .single-page__block {
        flex-direction: column;
        align-items: center;
    } */
    .single-page__block-images__group img, .single-page__block-images__group a {
        max-width: 112px;
    }
    .single-page__block-text {
        max-width: 278px;
    }
    .single-page__block-characteristics__item span {
        width: 50%;
    }
}

@media (max-width: 992px){
    .single-page__block {
        flex-direction: column;
    }
    .single-page__block-images__group img, .single-page__block-images__group a {
        max-width: 157px;
    }
    .single-page__block-text {
        max-width: 100%;
    }
    .single-page__block-fundatements__block-element, .single-page__block-fundatements__block-element a {
        width: 160px;
    }
    .single-page__block-fundatements__block-element:nth-child(2) {
        margin-right: 10px;
    }
    .single-page__block-fundatements__block-element span {
        font-size: 14px;
    }
    .filter-form__form br {
        display: none;
    }
    .filter-form__form {
        display: inline-block;
    }
    .filter-form__button {
        width: 140px;
    }
    .select-outer {
        align-items: end;
    }
}

@media (max-width: 570px){
    .single-page__block-images__group img, .single-page__block-images__group a {
        max-width: 121px;
    }
}