/*Экстрабольшие девайсы (большие десктопы)*/
@media (max-width: 1600px) {
	/*HOME*/
	svg {
	}
	.home h1 {
	    font-size: 115px;
	}
	.home h1.shadow-text {
	    top: -5px;
	}
	.home h2 {
	    font-size: 70px;
	}
	.boss-border {
	    width: 310px;
	    height: 307px;
	}
	.boss img.boss-image {
	    width: 221px;
	    height: 294px;
	}
	.boss-border img.money {
	    top: 5px;
	    left: 15px;
	    position: absolute;
	    width: 30px;
	    height: 50px;
	}
	button.vs-subview-next {
	    width: 36px;
	    height: 75px;
	    top: 62%;
	}
	button.vs-subview-prev {
	    width: 36px;
	    height: 75px;
	    top: 62%;
	}
	.boss img.boss-image.hover {
	    top: 48px;
	    left: 49%;
	}
	/*HOME END*/

	/*CONTACTS*/
	.contacts .title-block span {
	    margin-bottom: 140px;
	}
	/*CONTACTS END*/
}

@media (max-width: 1440px) {
	/*HOME*/
	button.vs-subview-next {
	    top: 57%;
	}
	button.vs-subview-prev {
    top: 57%;
}
	svg {
	    height: 90px;
	}
	.name-svg {
		margin-bottom: 30px;
	}
	.home h1.shadow-text {
	    left: -10px;
	}
	.home h2.shadow-text {
	    top: 15px;
	}

	.boss img.boss-image.hover {
	    top: 37px;
	    left: 46%;
	    width: 36px;
	    height: 23px;
	}
	.boss-border {
	    width: 250px;
	    height: 237px;
	}
	.boss img.boss-image {
	    width: 161px;
	    height: 224px;
	}
	.boss-border img.money {
	    width: 25px;
	    height: 45px;
	}
	.home h1 {
	    font-size: 85px;
	}
	.home h2 {
	    font-size: 60px;
	    margin-top: -20px;
	    margin-bottom: 0px;
	}
	.home h3 {
	    font-size: 35px;
	    text-transform: uppercase;
	}
	.home h3.shadow-text {
	    top: -3px;
	    left: -8px;
	}
	/*HOME END*/

	/*CONTACTS*/
	.contacts .title-block span {
    margin-bottom: 100px;
}
	/*CONTACTS END*/

}

/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1200px) {
	/*ARROWS*/
	button.vs-subview-next {
    top: 55%;
    width: 26px;
  }
	button.vs-subview-prev {
    width: 26px;
    top: 55%;
  }
	/*ARROWS END*/
.boss-border {
    width: 200px;
    height: 187px;
}
.boss img.boss-image {
    width: 131px;
    height: 174px;
}
.boss-border img.money {
    width: 15px;
    height: 30px;
}
.home h1 {
    font-size: 70px;
}
.home h2 {
    font-size: 40px;
}
.home h3 {
    font-size: 20px;
}
text {
    font-size: 83px;
}

.boss img.boss-image.hover {
    top: 30px;
    width: 31px;
    height: 22px;
    left: 47%;
}
.projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projects-wrapper {
    margin: 20px 130px 0 130px;
}
.projects-wrapper_block:nth-child(2) {
    margin-bottom: 50px;
}
.projects-wrapper_block {
    flex-direction: column;
}
a.project {
    margin: 5px 45px;
    width: 223px;
    height: 154px;
}
span.text-shadow {
    top: -1px;
    margin-left: -3px;
}
span.title {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 35px;
}

/*CONTACTS*/
.contacts img {
    width: 80px;
    height: 80px;
}
.contacts .title-block span {
    margin-bottom: 100px;
}
/*CONTACTS END*/
}

@media (max-width: 1045px) {
svg {
    height: 80px;
}
button.vs-subview-next {
    width: 26px;
    height: 55px;
    top: 57%;
}
button.vs-subview-prev {
    width: 26px;
    height: 55px;
    top: 57%;
}
/*CONTACTS*/
.contacts .title-block span {
    margin-bottom: 100px;
}
/*CONTACTS END*/
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 992px) {
	
}

@media (max-width:  878px) {

	.projects-wrapper {
    margin: 20px 60px 0 60px;
}
	a.project {
    margin: 5px 5px;
    width: 193px;
    height: 134px;
  }
  button.vs-subview-next {
    right: 33px;
  }
  button.vs-subview-prev {
    left: 33px;
  }
}

@media (max-width: 725px) {
	.contacts a {
	    margin-right: 50px;
	}
}
/*Малые девайсы («ландшафтные», < 768px)
*/@media (max-width: 700px) {
.name-svg {
    margin-bottom: 10px;
}
svg {
    height: 60px;
}
.home h1 {
    font-size: 50px;
}
.home h1.shadow-text {
    top: -5px;
    left: -5px;
}
.home h2 {
    font-size: 30px;
    margin-top: -10px;
}
.home h2.shadow-text {
    top: 5px;
}
.home h3 {
    font-size: 15px;
}
.boss img.boss-image {
    width: 111px;
    height: 154px;
}
.boss img.boss-image.hover {
    top: 25px;
    width: 27px;
    height: 22px;
    left: 47%;
}
.boss-border {
    width: 170px;
    height: 167px;
}

.boss-border img.money {
    width: 15px;
    height: 25px;
}
button.vs-subview-next {
    top: 57%;
    right: 30px;
}
}

@media (max-width: 575px) {
	svg {
	    height: 60px;
	}
	button.vs-subview-next {
    width: 16px;
    right: 10px;
  }
	button.vs-subview-prev {
    width: 16px;
    left: 10px;
  }
  a.project {
    margin: 5px 5px;
    width: 140px;
    height: 104px;
}
	.projects-wrapper {
    margin: 20px 10px 0 10px;
}

/*CONTACTS*/
.contacts .title-block span {
    margin-bottom: 70px;
}
/*CONTACTS END*/
}
/*Экстрамалые девайсы («телефоны», < 576px)
*/@media (max-width: 525px) {
svg {
    height: 50px;
}
.home h1 {
    font-size: 40px;
}
.home h1.shadow-text {
    top: -5px;
}
.home h2 {
    margin-top: -10px;
}
.home h2.shadow-text {
    top: 5px;
    left: -10px;
}

/*CONTACTS*/
.contacts .title-block span {
    margin-bottom: 70px;
}
.contacts-block {
    display: flex;
    flex-direction: column;
}
.contacts a {
    margin-right: 0px;
    margin-bottom: 15px;
 }
/*CONTACTS END*/
}

@media (max-width: 400px){
.home h1 {
    font-size: 35px;
}
.home h2 {
    font-size: 27px;
}
svg {
    height: 40px;
}
}

@media (max-width: 370px) {
	button.vs-subview-next {
    animation: none;
  }
	button.vs-subview-prev {
    animation: none;
  }
  button.vs-subview-next {
    right: 1px;
}
button.vs-subview-prev {
    left: 1px;
}
}